[Unit]
Description=NurseCall backup - har kuni 03:15da

[Timer]
OnCalendar=*-*-* 03:15:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
